/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 15pt verdana, helvetica, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

header{
    width: 100%;
    background-color: coral;
    color: blue;
}

footer{
    width: 100%;
    position: fixed;
    background-color: coral;
    color: blue;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}

.erreur{
    color: red;
}