body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

legend {
    size: 30px;
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
    size: 30px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
    size: 30px;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}
